{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container p-0 mt-4">
    <main role="main" class="container p-0">
        <div class="row">

            <div class="col-md-8 blog-main">

                <div class="blog-post">
                    <h1 class="blog-post-title">{{ single_post.title }}</h1>

                    <p class="blog-post-meta">
                        {{ single_post.created_at | date:"F d, Y" }} by
                        <a href="#">{{ single_post.author.first_name }} {{ single_post.author.last_name }}</a>
                    </p>

                    {% if single_post.featured_image %}
                        <img src="{{ single_post.featured_image.url }}" alt="{{ single_post.title }}" class="img-fluid rounded mb-4">
                    {% endif %}

                    <p class="lead">{{ single_post.short_description }}</p>

                    <p>{{ single_post.blog_body }}</p>

                    <!-- Comments -->
                    <h4>Comments ({{ comment_count }})</h4>
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="card mt-1">
                                <div class="card-body">
                                    <p class="card-text mb-0">{{ comment }}</p>
                                    <span>
                                        <small>By {{ comment.user }}</small>
                                        <small> | {{ comment.created_at|timesince }} ago</small>
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        No Comments Yet
                    {% endif %}

                    <br>

                    <div class="form-group">
                        {% if user.is_authenticated %}
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea name="comment" class="form-control" placeholder="Write your comment"></textarea>
                                    <input type="submit" value="submit" class="btn btn-primary mt-2">
                                </div>
                            </form>
                        {% else %}
                            <h4>Please <span><a href="{% url 'login' %}">Login</a></span> to write a comment</h4>
                        {% endif %}
                    </div>

                </div><!-- /.blog-post -->

                <nav class="blog-pagination mb-4">
                    <a class="btn btn-outline-primary" href="{% url 'home' %}">Back to Home</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">Category</h4>
                    <nav class="d-flex flex-column">
                        {% for category in categories %}
                            <a class="py-2 text-muted text-decoration-none border-bottom border-light" href="{% url 'posts_by_category' category.id %}">{{ category.category_name }}</a>
                        {% endfor %}
                    </nav>
                </div>

                {% if social_links %}
                    <div class="p-3">
                        <h4 class="font-italic">Follow Us</h4>
                        <ol class="list-unstyled">
                            {% for i in social_links %}
                                <li><a href="{{ i.link }}" target="_blank">{{ i.socialMediaLink }}</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endif %}
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->
    </main><!-- /.container -->
</div>

{% endblock %}
